@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
  background-color: black;
  color: white;
  line-height: 1.2;
}

li {
  line-height: 1.8;
}

.container {
  width: 60rem;
  margin: var(--spacerBig) auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@font-face {
  font-family: 'bronx_reg';
  src: url(./assets/fonts/Bronx.woff2);
}

@font-face {
  font-family: 'bronx_inline';
  src: url(./assets/fonts/Bronx-Inline.woff2);
}

@font-face {
  font-family: 'bronx_twolines';
  src: url(./assets/fonts/Bronx-TwoLines.woff2);
}

.pagetitle {
  font-size: 7rem;
  font-family: 'bronx_twolines', sans-serif;
  color: var(--colorBlue);
}

.logotitle {
  font-size: 2.7rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
}

.subtitle {
  font-family: 'bronx_reg', sans-serif;
  font-size: 1.75rem;
  margin-top: .4rem;
}

.dropshadow {
  filter: drop-shadow(.25rem .3rem .2rem var(--colorBlue));
}

.line {
  width: 24.7rem;
  height: .7rem;
  border-bottom: .3rem solid var(--colorBlue);
  /* position: absolute; */
  margin-right: auto;
  margin-left: auto;
}

.logoline {
  width: 10rem;
  position: absolute;
  left: 2.5rem;
  top: 3.7rem;
}

.error {
  color: red;
  font-size: .9rem;
}

.button {
  color: white;
  background-color: var(--colorPink);
  padding: .6rem 1.1rem;
  font-size: 1.6rem;
  border-radius: .8rem;
  text-decoration: none;
  font-family: 'bronx_reg', sans-serif;
}

.button:hover {
  background-color: var(--colorPurple);
}

.button--signup {
  background-color: var(--colorDarkblue);
}

.border {
  background-image: radial-gradient(circle at 100% 100%, transparent 9px, #ff006b 9px, #ff006b 14px, transparent 14px), linear-gradient(to right, #ff006b, #790c5b), radial-gradient(circle at 0% 100%, transparent 9px, #790c5b 9px, #790c5b 14px, transparent 14px), linear-gradient(to bottom, #790c5b, #1e0741), radial-gradient(circle at 0% 0%, transparent 9px, #1e0741 9px, #1e0741 14px, transparent 14px), linear-gradient(to left, #1e0741, #790c5c), radial-gradient(circle at 100% 0%, transparent 9px, #790c5c 9px, #790c5c 14px, transparent 14px), linear-gradient(to top, #790c5c, #ff006b);
  background-size: 14px 14px, calc(100% - 28px) 5px, 14px 14px, 5px calc(100% - 28px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.border--blue {
  background-image: radial-gradient(circle at 100% 100%, transparent 9px, #00ffe0 9px, #00ffe0 14px, transparent 14px), linear-gradient(to right, #00ffe0, #2c5f9e), radial-gradient(circle at 0% 100%, transparent 9px, #2c5f9e 9px, #2c5f9e 14px, transparent 14px), linear-gradient(to bottom, #2c5f9e, #1e0741), radial-gradient(circle at 0% 0%, transparent 9px, #1e0741 9px, #1e0741 14px, transparent 14px), linear-gradient(to left, #1e0741, #2c5f9e), radial-gradient(circle at 100% 0%, transparent 9px, #2c5f9e 9px, #2c5f9e 14px, transparent 14px), linear-gradient(to top, #2c5f9e, #00ffe0);
  background-size: 14px 14px, calc(100% - 28px) 5px, 14px 14px, 5px calc(100% - 28px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.nav__item {
  font-family: 'bronx_reg', sans-serif;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  margin-left: 3rem;
}

.nav__item:hover {
  color: var(--colorPink);
}

.selected {
  color: var(--colorBlue);
  text-decoration: underline;
}

/*---------------------------------intro------------------------------------*/

.intro__text {
  margin-top: 2.4rem;
  font-size: 1.3rem;
  width: 30rem;
  /* font-weight: bold; */
}

.intro__text2 {
  margin-top: 1rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.button--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: .01rem 1rem;

}

/*----------------------------Sign up---------------------------*/

.signup__form {
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto; */
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.signup__title {
  justify-self: center;
}

.signup__label {
  margin-bottom: 1rem;
}

.form {
  color: red;
}

.hidden {
  display: none;
}

/*---------------------------------------login----------------------*/

.login__form {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.login__wrap {
  padding: 2rem;
  /* border-radius: .8rem; */
  /* border: .5rem solid white; */
  /* border-color: linear-gradient(145deg, rgba(255, 0, 107, 1) 0%, rgba(65, 23, 128, .7) 100%); */
}

/*---------------------------------------watchlist----------------------*/

.overview__list--item {
  width: 10rem;
  height: 10rem;
}
