@import './css/reset.css';
@import './css/vars.css';

html {
  box-sizing: border-box;
}

/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: inherit;
}
/* stylelint-enable */

body {
  font-family: var(--font);
  background-color: black;
  color: white;
  line-height: 1.2;
}

li {
  line-height: 1.8;
}

.container {
  margin: 3rem auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: 'bronx_reg';
  src: url(./assets/fonts/Bronx.woff2);
}

@font-face {
  font-family: 'bronx_inline';
  src: url(./assets/fonts/Bronx-Inline.woff2);
}

@font-face {
  font-family: 'bronx_twolines';
  src: url(./assets/fonts/Bronx-TwoLines.woff2);
}

.pagetitle {
  font-size: 7rem;
  font-family: 'bronx_twolines', sans-serif;
  color: var(--colorBlue);
  margin-top: 6rem;
  text-decoration: none;
}

.pagetitle:hover {
  cursor: pointer;
}

.logotitle {
  font-size: 2.7rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  margin-top: .01rem;
}

.subtitle {
  font-family: 'bronx_reg', sans-serif;
  font-size: 1.75rem;
  margin-top: .1rem;
}

.dropshadow {
  filter: drop-shadow(.25rem .3rem .2rem var(--colorBlue));
}

.line {
  width: 24.7rem;
  height: .7rem;
  border-bottom: .3rem solid var(--colorBlue);
  margin: auto;
}

.logoline {
  width: 10rem;
  position: absolute;
  left: 2.5rem;
  top: 3.7rem;
}

.error {
  color: red;
  font-size: .9rem;
}

.button {
  color: white;
  background-color: var(--colorPink);
  padding: .6rem 1.1rem;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'bronx_reg', sans-serif;
  border-radius: .8rem;
  border-color: transparent;
  overflow: visible;
  overflow-wrap: normal;
}

.button:hover {
  background-color: var(--colorPurple);
}

.button--signup {
  background-color: var(--colorDarkblue);
}

.border {
  background-image: radial-gradient(circle at 100% 100%, transparent 9px, #ff006b 9px, #ff006b 14px, transparent 14px), linear-gradient(to right, #ff006b, #790c5b), radial-gradient(circle at 0% 100%, transparent 9px, #790c5b 9px, #790c5b 14px, transparent 14px), linear-gradient(to bottom, #790c5b, #1e0741), radial-gradient(circle at 0% 0%, transparent 9px, #1e0741 9px, #1e0741 14px, transparent 14px), linear-gradient(to left, #1e0741, #790c5c), radial-gradient(circle at 100% 0%, transparent 9px, #790c5c 9px, #790c5c 14px, transparent 14px), linear-gradient(to top, #790c5c, #ff006b);
  background-size: 14px 14px, calc(100% - 28px) 5px, 14px 14px, 5px calc(100% - 28px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.border--blue {
  background-image: radial-gradient(circle at 100% 100%, transparent 9px, #00ffe0 9px, #00ffe0 14px, transparent 14px), linear-gradient(to right, #00ffe0, #2c5f9e), radial-gradient(circle at 0% 100%, transparent 9px, #2c5f9e 9px, #2c5f9e 14px, transparent 14px), linear-gradient(to bottom, #2c5f9e, #1e0741), radial-gradient(circle at 0% 0%, transparent 9px, #1e0741 9px, #1e0741 14px, transparent 14px), linear-gradient(to left, #1e0741, #2c5f9e), radial-gradient(circle at 100% 0%, transparent 9px, #2c5f9e 9px, #2c5f9e 14px, transparent 14px), linear-gradient(to top, #2c5f9e, #00ffe0);
  background-size: 14px 14px, calc(100% - 28px) 5px, 14px 14px, 5px calc(100% - 28px);
  background-position: top left, top center, top right, center right, bottom right, bottom center, bottom left, center left;
  background-repeat: no-repeat;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  margin-top: 1.5rem;
}

.nav__item {
  font-family: 'bronx_reg', sans-serif;
  color: white;
  text-decoration: none;
  list-style: none;
  font-size: 1.2rem;
  margin-left: 3rem;
}

.nav__item:hover {
  color: var(--colorPink);
}

.selected {
  color: var(--colorBlue);
  text-decoration: underline;
}

.nav__mobile--bottom {
  background-color: rgba(0, 255, 254, .8);
  position: fixed;
  bottom: -1rem;
  width: 100vw;
  height: 6rem;
  border: var(--colorBlue) .3rem solid;
  border-radius: .8rem;
  display: none;
  z-index: 5;
}

.nav__mobile {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}

.nav__mobile--item {
  margin: -.3rem auto;
  justify-content: center;
  align-content: center;
  height: 5rem;
  width: 5rem;
}

.mobile__selected {
  border: var(--colorBlue) .3rem solid;
  border-radius: 3rem;
  background-color: var(--colorPink);
}

.nav__button {
  display: flex;
  margin: .7rem auto;
  width: 3rem;
}

.nav__home--button {
  width: 3rem;
}
/*---------------------------------intro------------------------------------*/

.onboarding__title {
  margin-top: 15vh;
}

.onboarding__subtitle {
  margin-top: 0;
}

.intro__text {
  margin-top: 2.4rem;
  font-size: 1.3rem;
  width: 35rem;
  font-weight: bold;
}

.intro__text2 {
  margin-top: 1rem;
  font-weight: 100;
  margin-bottom: 1.5rem;
}

.intro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.button--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: .01rem 1rem;

}

.hidden {
  display: none;
}
/*----------------------------Sign up---------------------------*/

.signup__form {
  display: grid;
  grid-template-columns: 30vw 30vw;
  grid-template-rows: auto;
  width: 60vw;
  gap: .2rem 5rem;
  margin: 1rem auto;
}

.country--selector {
  display: block;
}

.signup__title {
  justify-self: center;
}

.signup__label {
  margin-bottom: 1rem;
}

.signup--button {
  font-size: 1rem;
  height: 2.2rem;
  width: max-content;
}

.signup--email {
  width: 18rem;
}

.c2--1, .c2--2 {
  grid-column: 2;
  grid-row: 1;
}

.c2--2 {
  grid-row: 2;
}

.size1 {
  width: 13rem;
}

.country {
  border-radius: .8rem;
  border-color: var(--colorPink);
  margin-top: .5rem;
}

.strList {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: normal;
  width: 70vw;
  grid-column: 1/ span 2;
  margin-bottom: 4rem;
  margin-top: 1rem;
}

.strList > li {
  margin-right: 1rem;
  margin-bottom: 1rem;
  width: 7rem;
  height: 7rem;
}

.option::before {
  content: '';
  display: inline-block;
  width: 7.2rem;
  height: 7rem;
  background-image: url(./assets/netflix.svg);
  background-repeat: no-repeat;
  background-size: cover;
  border: .2rem solid var(--colorPink);
  border-radius: .8rem;
}

.option:checked::before {
  border-color: var(--colorBlue);
}

.str_disney::before {
  background-image: url(./assets/disney.svg);
}

.str_prime::before {
  background-image: url(./assets/prime.svg);
}

.str_hbo::before {
  background-image: url(./assets/hbo.svg);
}

.str_hulu::before {
  background-image: url(./assets/hulu.svg);
}
/*---------------------------------------login----------------------*/

.login, .signup {
  width: 90vw;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 30vw;
  padding: 0 5vw;
  margin: 1rem auto;
}

.login__wrap {
  padding: 4rem;
}

.login__label, .signup__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.form__text {
  margin-bottom: .3rem;
}

.signup--link {
  color: var(--colorPink);
  margin-bottom: 1rem;
  text-align: center;
}

.signup--link:hover {
  color: var(--colorBlue);
}

.button--login {
  width: 8rem;
  text-align: center;
  height: 2.5rem;
  margin: auto;
}

input {
  height: 2rem;
  border-radius: .6rem;
  border-color: var(--colorPink);
}

input:focus {
  outline: none;
  border-color: var(--colorBlue);
  box-shadow: 10px 10px 20px var(--colorPurple);
}

/*-------------------------------------planner-----------------------------------*/

.planner__columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  overflow-wrap: normal;
}

.planner__column {
  height: 60vh;
  margin: 2rem .7rem;
  width: 11rem;
  text-align: center;
  font-family: 'bronx_reg', sans-serif;
  padding: 1rem .3rem;
}

.planner__nav {
  display: flex;
  margin-top: 2.5rem;
}

.button--add {
  position: absolute;
  right: 2rem;
  top: 7rem;
}

.column__cards {
  overflow: scroll;
  height: 52.5vh;
}

.card {
  background-color: var(--colorDarkblue);
  margin: .5rem;
  border-radius: .7rem;
  font-family: var(--font);
  padding: .5rem;
}

.card__title {
  font-weight: bold;
  margin: auto;
  line-height: 1.3rem;
}

.card__title::first-letter {
  text-transform: capitalize;
}

.button--weeks {
  background-image: url(./assets/arrowButton.svg);
  background-repeat: no-repeat;
  background-size: 3rem;
  padding: 1.5rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.button--bin {
  background-image: url(./assets/bin.svg);
  background-repeat: no-repeat;
  background-size: .9rem;
  background-position: center;
  width: 1rem;
  border: unset;
  display: inline-block;
  background-color: transparent;
  margin-left: -.5rem;
}

.button--bin:hover {
  cursor: pointer;
}

.card__title_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.weeks--flipped {
  transform: scaleX(-1);
}

.planner__week {
  margin-top: .9rem;
}

.passed {
  background-image: radial-gradient(circle at 100% 100%, transparent 9px, #9c9c9c 9px, #9c9c9c 14px, transparent 14px), linear-gradient(to right, #9c9c9c, #454545), radial-gradient(circle at 0% 100%, transparent 9px, #454545 9px, #454545 14px, transparent 14px), linear-gradient(to bottom, #454545, #3d3d3d), radial-gradient(circle at 0% 0%, transparent 9px, #3d3d3d 9px, #3d3d3d 14px, transparent 14px), linear-gradient(to left, #3d3d3d, #454545), radial-gradient(circle at 100% 0%, transparent 9px, #454545 9px, #454545 14px, transparent 14px), linear-gradient(to top, #454545, #9c9c9c);
}

.series {
  background-color: var(--colorDarkblue);
}

.movie {
  background-color: var(--colorPurple);
}

.passed--card {
  background-color: gray;
}

.passed--button {
  background-color: rgb(80, 80, 80);
}

.card__bin {
  display: inline-block;
}

.button--check {
  width: fit-content;
  text-align: center;
  padding: auto;
  font-size: 1rem;
  margin: auto;
}

/*---------------------------------------search----------------------*/

.search {
  margin-top: 2rem;
  width: 70vw;
}

.search__layout {
  display: flex;
  flex-direction: column;
}

.search__back {
  font-family: var(--font);
  font-weight: bold;
  color: var(--colorBlue);
  margin-bottom: .5rem;
  display: flex;
  text-decoration: none;
  font-size: 1.3rem;
}

.search__arrow {
  width: 1rem;
}

.form__title--label {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 70vw;
}

.form__title--text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100vw;
  height: 5rem;
  background-color: transparent;
  color: var(--colorPink);
  font-size: 2rem;
  font-family: 'bronx_twolines', sans-serif;
  padding-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.buttons {
  display: inline-block;
  vertical-align: top;
}

.search__button {
  display: inline-block;
  background-image: url(./assets/search.svg);
  background-size: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  height: 5rem;
  color: transparent;
}

.button__added {
  content: 'ADDED';
  background-color: var(--colorPurple);
  color: white;
  width: 13.5rem;
  border: var(--colorBlue) solid .15rem;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'bronx_reg', sans-serif;
  border-radius: .8rem;
  z-index: 2;
  justify-content: center;
  align-items: center;
}

.button__add {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}

.button__search {
  margin: -2rem 2rem 1rem .5rem;
  display: flex;
  justify-content: flex-end;
}

.form__filter--select {
  margin: -2rem 1rem 1rem .5rem;
  display: flex;
  justify-content: flex-end;
}

.form__filter--label {
  font-size: 1.2rem;
  padding-right: 1rem;
  padding-top: .3rem;
}

.form__type--select {
  overflow: hidden;
  width: 10rem;
  color: var(--colorBlue);
  background: transparent;
  font-family: var(--font);
  font-size: 1.2rem;
  text-align: center;
  border: var(--colorBlue) solid .15rem;
  border-radius: .8rem;
  justify-content: left;
}

.form__type--select:focus {
  outline: none;
  box-shadow: 20px 15px 30px var(--colorPurple);
}

/*---------------------------------------watchlist----------------------*/

.overview {
  width: 70rem;
}

.overview__list {
  width: 70vw;
  justify-content: center;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-gap: var(--spacerBig);
}

.overview__list--item {
  width: 25rem;
  height: 15rem;
  position: relative;
}

.overview__list--link {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  padding: var(--spacerRegular);
  font-family: var(--font);
  z-index: -1;
  text-decoration: none;
  color: white;
  height: 14vw;
}

.overview__list--img {
  grid-row: 1/span 6;
  width: 8.5rem;
  margin-right: var(--spacerSmall);
  justify-content: center;
  align-items: center;
}

.overview__list--title {
  font-weight: bold;
}

.img__notfound {
  font-family: 'bronx_twolines', sans-serif;
  color: var(--colorBlue);
  text-align: center;
  align-self: center;
  font-size: 5rem;
  padding: 2rem 0;
}

/*---------------------------------------detail----------------------*/

.detail {
  width: 70rem;
}

.detail__card {
  display: grid;
  grid-template-columns: auto 1fr 4rem;
  grid-template-rows: auto;
  grid-gap: 1.8rem;
  padding: 3rem;
  margin-bottom: 6rem;
}

.detail__head {
  grid-column: 2;
  grid-row: 1;
  z-index: -1;
}

.detail__title {
  font-size: 3rem;
  font-weight: bold;

}

.detail__list--date {
  font-size: 1.8rem;
}

.detail__info {
  font-size: 1.5rem;
  grid-column: 2/span 3;
}

.detail__overview {
  grid-column: 2/span 3;
}

.detail__overview--title {
  font-size: 1.8rem;
}

.detail__total {
  font-size: 1.8rem;
  grid-column: 2/span 3;
  grid-row: 3;
}

.detail__provider--list {
  grid-column: 3;
  grid-row: 1;
  z-index: 2;
}

.detail__provider {
  width: 4rem;
  border: var(--colorBlue) solid .3rem;
  border-radius: .8rem;

}

.detail__episode {
  grid-column: 2/span 3;
}

.detail__episode--title {
  font-size: 1.8rem;
  font-weight: bold;
  grid-column: 1;
  grid-row: 1;
  margin-bottom: .5rem;
}

.detail__current--text {
  padding-bottom: 1rem;
}

.detail--img {
  width: 25rem;
  grid-row: 1/span 5;
}

.detail__episode--border {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-gap: 2rem;
}

.detail__pencil {
  background-image: url(./assets/pencil.svg);
  height: 2.5rem;
  width: 4rem;
  background-repeat: no-repeat;
  background-size: 2rem;
  background-position: center;
  border: unset;
  display: inline-block;
  background-color: transparent;
  margin-left: .5rem;
  color: transparent;
}

.detail__current--info {
  grid-column: 1/ span 2;
  grid-row: 1/span 2;
  z-index: -2;
  display: grid;
  grid-template-columns: auto 3rem;
}

.detail__edit {
  grid-column: 2;
  grid-row: 1;
}

.detail__episode--text {
  grid-column: 1/ span 2;
}

.form__season {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  z-index: 1;
  display: flex;
  background-color: black;
  justify-content: center;
  padding-top: 3vw;
}

.number__season, .number__episode {
  width: 5rem;
  text-align: center;
}

.form__episode {
  grid-row: 1/span 2;
  grid-column: 1/span 2;
  z-index: 1;
  display: flex;
  background-color: black;
  justify-content: center;
  padding-top: 3vw;
}

.detail__edit--submit {
  background-image: url(./assets/arrowButton.svg);
  transform: scaleX(-1);
  height: 2.5rem;
  width: 3rem;
  background-repeat: no-repeat;
  background-size: 3rem;
  background-position: center;
  border: unset;
  display: inline-block;
  background-color: transparent;
  margin-left: .5rem;
  color: transparent;
}

/*--------------------------------------Timeslot--------------------------------------*/

.timeslot__form {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin-right: 2rem;
  border-right: solid var(--colorPink);
  padding-right: 2rem;
}

.timeslot__input {
  margin: .4rem .1rem;
}

.timeslot__form--items {
  display: flex;
  flex-direction: column;
  width: 30rem;
}

.time__label {
  display: inline-block;
}

.timeslot__wrap {
  display: flex;
  width: 80vw;
  columns: unset;
}

.watchItemList {
  height: 65vh;
  width: 40vw;
  overflow: scroll;
  padding-right: 2rem;
}

.watchItemList::-webkit-scrollbar-thumb, .column__cards::-webkit-scrollbar-thumb {
  background-color: var(--colorPink);
  border-radius: .8rem;
  opacity: 70%;
}

.watchItemList::-webkit-scrollbar-track, .column__cards::-webkit-scrollbar-track {
  background-color: black;
  width: 6rem;
  visibility: hidden;
}

.watchItemList::-webkit-scrollbar-corner, .column__cards::-webkit-scrollbar-corner {
  width: 6rem;
  visibility: hidden;
}

.watchItemList::-webkit-scrollbar, .column__cards::-webkit-scrollbar {
  width: .4rem;
  visibility: hidden;
}

.timeslot__sugg {
  background-color: var(--colorDarkblue);
  padding: 1rem;
  border-radius: .8rem;
  grid-template-columns: 1fr 1fr 1fr 4rem;
  grid-gap: .5rem;
  display: grid;
  grid-template-areas:
    'img title title title'
    'img ep ep button'
    'img duration . button';
}

.possible__card, .overdue__card {
  background-color: var(--colorDarkblue);
  padding: 1rem;
  border-radius: .8rem;
  margin: .5rem .1rem;
}

.overdue__card {
  background-color: var(--colorPurple);
  list-style-type: none;
}

.sugg--movie {
  background-color: var(--colorPurple);
}

.sugg__img {
  width: 5.7rem;
  grid-area: img;
  margin-top: -1rem;
  margin-bottom: -1rem;
  padding-bottom: -1rem;
  margin-left: .5rem;
}

.sugg__img--letter {
  color: black;
  width: 4rem;
  padding: .1rem;
}

.sugg__title {
  grid-area: title;
  font-weight: bold;
  font-size: 1.2rem;
  grid-column: 2/ span 3;
}

em {
  font-weight: normal;
  font-size: .9rem;
}

.sugg__year {
  grid-area: year;
}

.sugg__duration {
  grid-area: duration;
  background-color: var(--colorPurple);
  width: 5rem;
  height: 2rem;
  border-radius: .9rem;
  padding: .1rem .4rem;
  text-align: center;
}

.duration--movie {
  background-color: var(--colorDarkblue);
}

.sugg__ep {
  grid-area: ep;
  margin-top: -1rem;
}

.sugg__add--label {
  grid-area: button;
  margin-top: -1rem;
}

.sugg__add::before {
  content: 'ADD';
  display: inline-block;
  background-color: var(--colorPink);
  color: white;
  padding: 1rem .6rem;
  border-radius: .8rem;
  height: 3rem;
  font-family: 'bronx_reg', sans-serif;
  font-size: 1.1rem;

}

.sugg__add:hover::before {
  background-color: var(--colorBlue);
  color: var(--colorPurple);
  cursor: pointer;
}

.sugg__add:checked::before {
  content: 'ADDED';
  background-color: var(--colorGreen);
  color: var(--colorPurple);
  border: var(--colorPurple) solid .15rem;
}

.sugg__add:checked {
  margin-right: 2rem;
  margin-left: -1.6rem;
}

.add--button {
  height: 2.7rem;
  width: 15rem;
  margin: .5rem auto;
}

.multiEps--selector {
  grid-row: 4;
  grid-column: 2/span 3;
}

.timeslot__label {
  margin: 1rem auto;
}

/*--------------------------------------account--------------------------------------*/

.account__section {
  width: 70vw;
  height: auto;
  padding: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  font: var(--font);
}

.services__items {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date {
  margin-top: 2rem;
  font: var(--font);
  font-size: 1.5rem;
  text-align: center;
}

.date__em {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 1300px) {

  .account__provider {
    width: 10vw;
  }

  .planner__columns {
    grid-template-columns: repeat(4, 1fr);
  }

  .container {
    width: 70vw;
  }

  .overview {
    width: 70vw;
  }

  .overview__list {
    width: 70vw;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 6rem;
  }

  .overview__list--item {
    width: 40vw;
  }

  .planner__column {
    height: 30vh;
    width: 20vw;
  }

  .column__cards {
    height: 22.5vh;
  }

  .column__title {
    font-size: 1rem;
  }

  .planner {
    width: 85vw;
  }

  .login__form {
    width: 35vw;
  }

  .search__layout {
    width: 70vw;
  }

  .form__title--label {
    width: 70vw;
  }

}

@media only screen and (max-width: 1200px) {

  .planner__columns {
    grid-template-columns: repeat(4, 1fr);
    max-width: 50rem;
    overflow-wrap: normal;
  }

  .detail {
    width: 90vw;
  }

  .detail__card {
    width: 90vw;
  }

}

@media only screen and (max-width: 1015px) {

  .button__add--search {
    width: 37vw;
  }

  .signup--email {
    width: 13rem;
  }

  .text--login {
    width: 60vw;
  }

  .detail__card {
    grid-gap: 1rem;
    padding: 2rem;
  }

  .detail--img {
    width: 30vw;
  }

  .detail__title {
    font-size: 2rem;
  }

  .detail__list--date {
    font-size: 1.5rem;
  }

  .detail__info {
    font-size: 1rem;
  }

  .detail__overview--title {
    font-size: 1.5rem;
  }

  .detail__overview--text {
    font-size: 1rem;
  }

  .detail__total {
    font-size: 1.5rem;
  }

  .detail__episode--title {
    font-size: 1.5rem;
  }

  .planner__columns {
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: normal;
    max-width: 70vw;
    margin: auto;
  }

  .planner__column {
    width: 11rem;
  }

  .planner {
    margin: auto;
    width: 70vw;
  }
}

@media only screen and (max-width: 786px) {

  .date, .date__em {
    font-size: 1rem;
  }

  .login__form {
    width: 60vw;
  }

  .pagetitle {
    font-size: 4rem;
  }

  .logotitle {
    font-size: 2.5rem;
  }

  .line {
    width: 15rem;
    height: .7rem;
  }

  .logoline {
    width: 9.5rem;
  }

  .subtitle {
    font-size: 1.6rem;
    margin-top: .1rem;
  }

  .intro__text, .intro__text2 {
    font-size: .9rem;
    width: 70vw;
  }

  .container {
    vertical-align: middle;
  }

  .signup__form {
    width: 65vw;
    margin: 0;

  }

  .signup__label {
    font-size: 1rem;
  }

  .country {
    width: 40vw;
  }

  .nav__item {
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  .signup__title {
    font-size: 1.6rem;
  }

  .country--selector {
    width: 30vw;
  }

  .overview {
    width: 70vw;
  }

  .timeslot__wrap {
    flex-direction: column;
    columns: unset;
    padding-top: 2.5rem;
    width: 85vw;
  }

  .overview__list {
    width: 70vw;
    grid-template-columns: 1fr;
    margin-top: 2rem;
    grid-gap: 1rem;
  }

  .overview__list--item {
    width: 70vw;
    height: 13rem;
  }

  .button__search {
    margin: -1.5rem 2.5rem 1rem 1rem;
    display: flex;
    justify-content: flex-end;
  }

  .overview__list--img {
    width: 7.5rem;
  }

  .img__notfound {
    font-size: 4rem;
  }

  .form__title--text {
    font-size: 1.5rem;
    height: 4rem;
  }

  .form__filter--select {
    margin-right: 0;
  }

  .form__filter--label {
    font-size: 1rem;
  }

  .search__button {
    height: 4rem;
    width: 5rem;
  }

  .timeslot__form {
    border-right: none;
    width: 65vw;
    padding-top: 0;
  }

  .watchItemList {
    width: 75vw;
    padding-right: 0;
  }

  .detail--img {
    grid-row: 1 / span 3;
  }

  .detail__episode {
    grid-column: 1/ span 3;
  }

  .planner__column {
    width: 15rem;
  }

  .planner__columns {
    margin: 0;
    margin-right: 0;
  }

}

@media only screen and (max-width: 670px) {

  .account__section {
    margin-top: 3rem;
  }

  .services__items {
    flex-wrap: wrap;
  }

  .account__provider {
    width: 5rem;
    margin-bottom: 1rem;
  }

  .nav {
    display: none;
  }

  .nav__mobile--bottom {
    display: block;
  }

  .signup__form {
    width: 80vw;
    grid-template-columns: 70vw;
    justify-content: center;
  }

  .signup--button2 {
    width: 70vw;
    height: 3rem;
    font-size: 1.5rem;
  }

  .c2--1 {
    grid-column: 1;
    grid-row: 4;
  }

  .c2--2 {
    grid-column: 1;
    grid-row: 5;
  }

  .nav__item {
    margin-left: 1.3rem;
    font-size: 1rem;
  }

  .logotitle {
    font-size: 2rem;
  }

  .logoline {
    width: 7rem;
    margin-top: -.5rem;
  }

  .signup {
    margin-top: 1rem;
  }

  .country--selector {
    width: 33vw;
    margin: auto;
    margin-top: 1rem;
  }

  .overview__list {
    width: 70vw;
    grid-template-columns: 1fr;
    margin-top: 4.5rem;
  }

  .overview__list--item {
    width: 70vw;
    height: 11.5rem;
  }

  .search__list--item {
    height: 14.5rem;
  }

  .overview__list--img {
    width: 6.5rem;
  }

  .form__title--label {
    width: 70vw;
  }

  .form__title--text {
    font-size: 1rem;
    height: 3rem;
  }

  .form__filter--select {
    margin: 1rem 1rem 1rem .5rem;
  }

  .search__list {
    margin-top: 1rem;
  }

  .search__button {
    background-size: 2rem;
    margin-left: -.5rem;
    width: 4rem;
    height: 3rem;
  }

  body {
    width: 100vw;
  }

  .button__add--search {
    margin-top: 3rem;
    width: 65vw;
  }

  .detail {
    margin-top: 3.5rem;
  }

  .search {
    margin-top: 3.5rem;
  }

  .timeslot__form--items {
    width: 60vw;
  }

  .subtitle {
    margin-top: 3rem;
  }

  .signup__title {
    margin-top: -1.5rem;
  }

  .signup__form--str {
    width: 100vw;
  }

  .onboarding__subtitle {
    margin-top: 0;
  }

  .timeslot__wrap {
    margin-bottom: 6rem;
  }

  .login__wrap {
    padding: 2rem;
    margin-bottom: 6rem;
  }

  .planner__column {
    width: 70vw;
    margin-bottom: 0;
  }

  .planner__columns {
    margin-top: 2rem;
  }

  .timeEp--wrapper {
    display: flex;
    justify-content: space-around;
  }

  .button--check {
    height: 2.7rem;
  }

  .button--add {
    width: 65vw;
    right: 17vw;
    top: 9rem;
    text-align: center;
  }

  .button__search {
    margin: 0 10vw 1rem 1rem;
    display: flex;
    justify-content: center;
    right: 7vw;
  }

  .search__title {
    margin-top: 0;
  }

}

@media only screen and (max-width: 425px) {

  .line {
    margin-top: -1rem;
  }

  .subtitle {
    margin-bottom: .7rem;
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
  }

  .onboarding__subtitle {
    margin-top: 0;
  }

  .intro__text, .intro__text2 {
    font-size: .8rem;
    width: 75vw;
    margin-right: 0;
    text-align: center;
  }

  .login__form {
    width: 80vw;
  }

  input {
    height: 2.5rem;
  }

  .login__wrap {
    padding: 1.5rem 1rem;
  }

  .logotitle {
    text-align: center;
    position: relative;
    margin-left: -2rem;
  }

  .logoline {
    margin-top: -3rem;
    position: relative;
    margin-left: -2rem;
  }

  .nav__header {
    margin-top: -3rem;
    margin-bottom: 2.5rem;
    margin-left: -3rem;
  }

  .button--wrapper {
    flex-direction: column;
    height: 7rem;
    margin-top: 1rem;
  }

  .container {
    text-align: center;
    width: 90vw;

  }

  .overview {
    width: 90vw;
  }

  .form__text {
    text-align: left;
  }

  .overview__list {
    width: 90vw;
    grid-template-columns: 1fr;
    margin-top: 4rem;
    grid-gap: 1rem;
  }

  .overview__list--item {
    width: 90vw;
    height: 60vw;
    text-align: left;
  }

  .overview__list--img {
    width: 34vw;
  }

  .overview__list--link {
    grid-template-rows: auto repeat(3, 8vw);
  }

  .form__title--text {
    font-size: 1.1rem;
    padding-left: 0;

  }

  .search {
    width: 90vw;
  }

  .search__layout {
    width: 90vw;
  }

  .form__title--label {
    width: 90vw;
  }

  .form__filter--select {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .form__type--select {
    width: auto;
    margin-top: .5rem;
  }

  .search__list {
    margin-top: 1rem;
  }

  .button__add--search {
    width: 80vw;
  }

  .detail__card {
    grid-template-columns: auto 1fr;
    text-align: left;
  }

  .detail__title {
    font-size: 1.5rem;
  }

  .detail__list--date {
    font-size: 1rem;
  }

  .detail__provider--list {
    grid-column: 2;
    grid-row: 2;
  }

  .detail--img {
    grid-row: 1/span 2;
  }

  .detail__total {
    grid-column: 1/span 2;
    font-size: 1rem;
    text-align: center;
  }

  .detail__overview {
    grid-column: 1/span 2;
  }

  .detail__overview--title {
    font-size: 1.5rem;
  }

  .detail__episode {
    grid-column: 1/span 2;
  }

  .detail__episode--title {
    font-size: 1.1rem;
  }

  .timeslot__form {
    width: 70vw;
    margin: auto;
    padding: 0;
  }

  .sugg__img {
    width: 5rem;
    margin-top: .5rem;
  }

  .sugg__title {
    font-size: 1rem;
    line-height: 1rem;
    margin-bottom: .8rem;
    text-align: left;
  }

  .timeslot__sugg {
    padding: .5rem;
    grid-template-columns: 1fr 1fr;
  }

  .add--button {
    margin: auto;
    width: 70vw;
  }

  .sugg__ep {
    text-align: left;
  }

  .sugg__duration {
    width: 5rem;
  }

  .sugg__add--label {
    grid-row: 4;
    grid-column: 2;
    margin-top: 0;
    margin-left: -4.5rem;
  }

  .sugg__add::before {
    width: 30vw;
    justify-content: left;
    margin-left: -3vw;
    text-align: center;
  }

  .sugg__add:checked::before {
    content: '✔';
  }

  .sugg__add:checked {
    margin-left: 1.5rem;
  }

  .button--add {
    width: 85vw;
    padding: .5rem;
    font-size: 1rem;
    text-align: center;
    right: 2vw;
    margin: .5rem 1.5rem 1.4rem auto;
  }

  .planner__nav {
    width: 90vw;
    justify-content: center;
    margin-bottom: 2rem;
    margin-left: -1rem;
  }

  .planner {
    width: 90vw;
  }

  .planner__columns {
    max-width: 90vw;
    margin-bottom: 8rem;
  }

  .planner__column {
    width: 90vw;
  }

  .button__search {
    margin-top: -2rem;
    width: 85vw;
    display: flex;
    justify-content: center;
  }

  .search__title {
    margin-top: 0;
  }

  .button {
    font-size: 1rem;
  }

  .strList {
    margin-bottom: 1rem;
  }

  .signup__wrap {
    margin-bottom: 6rem;
  }

  .signup--button {
    margin-left: -1rem;
    width: 65vw;
    font-size: .8rem;
  }

  .signup--button2 {
    width: 80vw;
    font-size: 1rem;
  }

  .signup__form {
    width: 90vw;
    grid-template-columns: 60vw;
    justify-content: center;
  }

  .signup__form--str {
    width: 80vw;
    grid-column: auto;
    grid-gap: 0;
  }

  .country {
    width: 70vw;
    margin-bottom: .5rem;
  }

  .country--selector {
    width: 50vw;
  }

  .option {
    margin-left: -2rem;
  }

  .multiEps--selector {
    grid-row: 4;
    grid-column: 1;
    margin-top: .5rem;
  }
}
